<%- include('partials/header') %>
<div class="container">
    <h1>Ajouter un nouveau séjour</h1>
    <form action="/admin/add-trip" method="POST">
        <div class="input-group"><label>Titre</label><input type="text" name="titre" required></div>
        <div class="input-group"><label>Prix Base</label><input type="number" name="prixBase" required></div>
        <div class="input-group"><label>Nom Image (ex: paris.jpg)</label><input type="text" name="img" required></div>
        <div class="input-group"><label>Description Courte</label><textarea name="description" required></textarea></div>
        <div class="input-group"><label>Détails Complets</label><textarea name="details" required></textarea></div>
        <button type="submit" class="btn-submit">Créer le voyage</button>
    </form>
</div>
<%- include('partials/footer') %>